<script lang="ts" setup></script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          src="https://drive.google.com/drive/folders/1hEGAy_-Z5RVS8Et0ZSbNMy_zoG_8WVjN"
        ></v-img>
      </v-col>
      <v-col>
        <v-row>
          <h1 class="text-center">แสดงข้อความ</h1>
        </v-row>
        <v-row>
          <v-btn class="width">ANGRY</v-btn>
        </v-row>
        <v-row>
          <v-btn class="width">CUTE</v-btn>
        </v-row>
        <v-row>
          <v-btn class="width">EXCITED</v-btn>
        </v-row>
        <v-row>
          <v-btn class="width">PAIN</v-btn>
        </v-row>
        <v-row>
          <v-btn class="width">SHOCKED</v-btn>
        </v-row>
        <v-row>
          <v-btn class="width">SMILE</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.width {
  width: 400px;
  margin: 10px;
  justify-content: center;
}
.text {
}
</style>
