<script lang="ts" setup></script>

<template>
  <v-form ref="form">
    <v-container>
      <v-text-field label="Please input number" id="number">0</v-text-field>
    </v-container>
  </v-form>
</template>
