<script lang="ts" setup>
import { ref } from "vue";

//const products = ref(
//  Array.from(Array(100).keys()).map((item) => {
//    return {
//      id: item,
//      name: "Product " + (item + 1),
//      price: (Math.floor(Math.random() * 100) + 1) * 10,
//    };
//  })
//);
</script>
<template>
  <v-row style="padding-top: 30px; padding-left: 20px;" >
    <v-col>
      <v-card height="600px">
        
      </v-card>
    </v-col>
    <v-col>
      <v-table density="compact">
        <thead class="text-left">
          <th>id</th>
          <th>name</th>
          <th>price</th>
        </thead>
        <tbody>
          <tr colspan="23">
            <td class="text-center">NO Data</td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
</template>
